.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url('C:\Users\Gabi\Desktop\quizz-app\src\images\register_background.jpg'); /* Path-ul catre imaginea de fundal a paginii */
    background-size: cover;
    background-position: center;
}

.register-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Inclusiv pentru marginile si padding-ul elementului */
    opacity: 0.95;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: center;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.register-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}
